.fondo{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    background-image: url(/montañas.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(2, 172, 2, 0.395);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-box{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container{
    width: 50%;
        min-width: 250px;
    background-color: rgba(227, 227, 227, 0.911);

    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.81);
    border-radius: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.form-container{
    width: 100%;
    padding: 5px;
    background-color: rgba(25, 240, 25, 0.456);
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    margin: 10% auto;
}

.form-title{
    color: #289019;
    text-align: center;

}
.form-button{
    color: white;
    margin: 30px;
}