.sensor-data{
    width: 35%;
}
.sensor-controls{
    width: 60%;
    min-width: 300px;
}
.sensor-file{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sensor-graph{
    width: 100%;
    padding-bottom: 40px;
}
.sensor {
    font-size: 1.5rem;
    background-color: #ffffff0e;
    border: 2.5px solid #dddddd00;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .sensor-controls,.sensor-data{
        width: 100%;
    }
}