#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header,.search-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  min-width: 300px;
  margin: 25px auto ;
}
.title{
    width: 70%;
    max-width: 250px;

}
.logo {
  width: 20%;
  min-width: 70px;
  max-width: 300px;
}
.filter-container {
  display: flex;
  margin: 30px;
}
.sensor-container{
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .search-input, .search-button {
      width: 100%;
      box-sizing: border-box;
  }
  .filter-container{
      flex-direction: column;
  }
}