#root {
  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding:5rem 0rem;
  text-align: center;
}
.header,.search-container,.filter-container,.sensor-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  max-width: 600px;
  min-width: 280px;
  margin: 30px auto ;
}
.title{
    width: 70%;
    max-width: 250px;
    min-width: 210px;

}
.logo {
  width: 20%;
  min-width: 70px;
  max-width: 300px;
}
.sensor-container{
  max-width: 1000px;
  font-size: 2rem;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .filter-container{
      flex-direction: column;
  }
  .sensor-container{
    flex-direction: column-reverse;
    align-items: center;
  }
}